@import url(variables.css);

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-colour);
}

html, body, #page {
    width: 100%;
    height: 100%;
}

#page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
    background-color: var(--background-colour-darker);

    width: 330pt;

    margin: var(--margin-normal);
    padding: var(--padding-big);
    
    border: var(--border-thickness) var(--border-style) var(--border-not-hovering-colour);
    border-radius: var(--border-radius-normal);
    
    display: flex;
    flex-direction: column;
    gap: var(--margin-normal);

    transition: all var(--transition-duration) var(--transition-timing-function);
}

#loginForm:hover {
    border-color: var(--border-hovering-colour);
}

@media screen and (width <= 450px) and (orientation: portrait) {
    #loginForm {
        width: calc(100% - var(--border-thickness)*2);
    }
}

#loginForm > fieldset {
    border: none;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    gap: var(--margin-small);

    font-family: var(--font-monospace);
    font-size: var(--font-size-normal);

    color: var(--font-colour-normal);

    div {
        margin-bottom: var(--margin-smaller);
        
        width: 100%;

        h1 {
            margin: 0;
            
            font-family: inherit;
            font-size: var(--font-size-title-big);

            color: inherit;
        }

        span {
            font-family: inherit;
            font-size: var(--font-size-small);
            font-style: italic;

            color: inherit;

            a {
                font-family: inherit;
                font-size: inherit;
                font-style: italic;

                color: var(--font-colour-discrete);
            }
        }
    }

    img {
        max-height: 3.2rem;

        border-radius: 50%;

        aspect-ratio: 1;
    }

    label {
        padding-left: var(--padding-small);

        font-family: inherit;
        font-size: inherit;
        
        text-decoration: underline;
        text-decoration-color: var(--font-colour-discrete);
    }

    input {
        padding: var(--padding-small);

        border: var(--border-thickness-thin) var(--border-style) var(--border-colour);
        border-radius: var(--border-radius-small);

        font-family: inherit;
        font-size: inherit;

        color: inherit;

        background-color: var(--input-not-hovering-background-colour);

        transition: all var(--transition-duration) var(--transition-timing-function);
    }

    input:not([type=submit]):not(.invalid):valid {
        border-color: var(--accent-lighter);
    }

    input:is(.invalid) {
        border-color: var(--error-red);
    }

    input[type=submit] {
        padding-left: var(--padding-normal);
        padding-right: var(--padding-normal);

        width: fit-content;
        
        border-width: var(--border-thickness);

        text-decoration-color: var(--error-red);

        cursor: pointer;
    }

    input[type=submit]:is(.validInputs) {
        border-color: var(--border-colour);
    }

    input[type=submit]:not(.validInputs):hover {
        border-color: var(--error-red);

        text-decoration: line-through;
        text-decoration-color: var(--error-red);
        text-decoration-thickness: 2pt;
    }

    input:hover {
        background-color: var(--input-hovering-background-colour);
    }

    #loginFormError {
        font-size: var(--font-size-smaller);

        color: var(--error-red);
    }

    fieldset {
        padding: 0;

        border: none;

        display: flex;
        gap: var(--margin-smaller);

        input {
            width: 100%;
        }

        #loginFormPasswordReveal {
            background-color: var(--input-not-hovering-background-colour);
    
            border: var(--border-thickness-thin) var(--border-style) var(--border-not-hovering-colour-dark);
            border-radius: var(--border-radius-small);

            padding: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            aspect-ratio: 1;

            cursor: pointer;

            transition: all var(--transition-duration) var(--transition-timing-function);

            img {
                max-width: 75%;
                height: 75%;

                filter: brightness(calc(187/255));

                transition: all var(--transition-duration) var(--transition-timing-function);
            }
        }
    
        #loginFormPasswordReveal:hover {
            background-color: var(--input-hovering-background-colour);

            border-color: var(--border-hovering-colour-dark);

            img {
                filter: brightness(1);
            }
        }
    }
}

#loginForm > fieldset:first-of-type {
    flex-direction: row;
    align-items: center;
}

#loginForm > fieldset:last-of-type {
    align-items: center;
}

#loginForm > fieldset:has(#loginFormError) {
    align-items: center;
}